:root {
  font: 16px / 1 sans-serif;
}

.first-color {
  background: #233142;
}

.second-color {
  background: #455d7a;
}

.third-color {
  background: #f95959;
}

.fourth-color {
  background: #e3e3e3;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #233142;
}

header {
  display: flex;
  justify-content: center;
  // border-bottom: black solid 1px;
  font-family: 'Merriweather';
  font-size: 1.1rem;
}

h1 > a {
  color: #7c0a0a;
}

footer {
  display: flex;
  justify-content: center;
  // border-top: black solid 1px;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
  color: #e3e3e3;
}

// Restaurants Page

.search-bar {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.restaurant-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.restaurant-list-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Merriweather';
  font-size: 1.5rem;
}

.restaurant-list-name {
  color: #f95959;
}

.restaurant-list-favorites-list {
  list-style-type: none;
  padding-left: 0;
}

.restaurant-list-favorites-list-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
  color: #e3e3e3;
}

.restaurants-add {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
}

// Add Restaurant Page

.add-restaurant-h2 {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather';
  font-size: 1.1rem;
}

.add-restaurant-error-message {
  margin-left: 2rem;
  color: #e3e3e3;
}

.add-restaurant-input {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
  color: #e3e3e3;
}

.add-restaurant-submit {
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro';
}

p > input {
  font-family: 'Source Sans Pro';
  font-size: 0.9rem;
}

// Edit Restaurant Page

.edit-restaurant-h2 {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather';
  font-size: 1.1rem;
}

.edit-restaurant-input {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
  color: #e3e3e3;
}

.edit-restaurant-submit {
  display: flex;
  justify-content: center;
}

// View One Restaurant Page

.view-one-rest-h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Merriweather';
}

h2 {
  padding-left: 1rem;
  padding-right: 0.5rem;
  color: #f95959;
}

.view-one-rest-buttons {
  display: flex;
  justify-content: right;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
}

.view-one-rest-body {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
}

.view-one-rest-body-p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #e3e3e3;
}
.view-one-rest-favorites {
  color: #f95959;
}

.view-one-rest-ul {
  list-style-type: none;
  padding-left: 0rem;
  margin-top: 0rem;
  color: #e3e3e3;
}

.view-one-rest-ul-li {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.view-one-rest-favorites-button {
  display: flex;
  justify-content: center;
}

.view-one-rest-comments {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
  color: #e3e3e3;
}

// Add Favorite Page

.add-favorite-h2 {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather';
  font-size: 1.1rem;
}

.add-favorite-input {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
  color: #e3e3e3;
}

.add-favorite-submit {
  display: flex;
  justify-content: center;
}
